canvas {
    border: 1px solid black;
    display: block;
    margin-top: 10px;
}
#controls {
    margin-bottom: 10px;
}
#object-buttons {
    margin-top: 10px;
}
#container {
    position: relative;
}
#my-canvas {
    position: absolute;
    offset: 0;
    z-index: 9999;
}